<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Total Data Chart</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
    <script defer src="https://pyscript.net/latest/pyscript.js"></script>
</head>
<body>
    <h2>파일명 : {{file}}</h2>
    <div>
        <canvas id="totalChart"></canvas>
    </div>
    <script>
        const ctx = document.getElementById("totalChart");

        let chart = new Chart(ctx, {
            type: "bar",
            data: {
                labels: [
                    "00:00 ~ 00:59", "01:00 ~ 01:59", "02:00 ~ 02:59", "03:00 ~ 03:59", 
                    "04:00 ~ 04:59", "05:00 ~ 05:59", "06:00 ~ 06:59", "07:00 ~ 07:59", 
                    "08:00 ~ 08:59", "09:00 ~ 09:59", "10:00 ~ 10:59", "11:00 ~ 11:59", 
                    "12:00 ~ 12:59", "13:00 ~ 13:59", "14:00 ~ 14:59", "15:00 ~ 15:59", 
                    "16:00 ~ 16:59", "17:00 ~ 17:59", "18:00 ~ 18:59", "19:00 ~ 19:59", 
                    "20:00 ~ 20:59", "21:00 ~ 21:59", "22:00 ~ 22:59", "23:00 ~ 23:59"
                ],
                datasets: [
                    {
                        label: "TOTAL", // 122332
                        data: [
                            {total:[0]}, {total:[1]}, {total:[2]}, {total:[3]},
                            {total:[4]}, {total:[5]}, {total:[6]}, {total:[7]},
                            {total:[8]}, {total:[9]}, {total:[10]}, {total:[11]},
                            {total:[12]}, {total:[13]}, {total:[14]}, {total:[15]},
                            {total:[16]}, {total:[17]}, {total:[18]}, {total:[19]},
                            {total:[20]}, {total:[21]}, {total:[22]}, {total:[23]}
                        ],
                        borderWidth: 1,
                        backgroundColor: "#1597BB"
                    },
                    {
                        label: "BENIGN", // 107402 (BENIGN + SUSPICIOUS)
                        data: [
                            {benign:[0]}, {benign:[1]}, {benign:[2]}, {benign:[3]},
                            {benign:[4]}, {benign:[5]}, {benign:[6]}, {benign:[7]},
                            {benign:[8]}, {benign:[9]}, {benign:[10]}, {benign:[11]},
                            {benign:[12]}, {benign:[13]}, {benign:[14]}, {benign:[15]},
                            {benign:[16]}, {benign:[17]}, {benign:[18]}, {benign:[19]},
                            {benign:[20]}, {benign:[21]}, {benign:[22]}, {benign:[23]}
                        ],
                        borderWidth: 1,
                        backgroundColor: "#42B686"
                    },
                    {
                        label: "MALICIOUS", // 4633
                        data: [
                            {malicious:[0]}, {malicious:[1]}, {malicious:[2]}, {malicious:[3]},
                            {malicious:[4]}, {malicious:[5]}, {malicious:[6]}, {malicious:[7]},
                            {malicious:[8]}, {malicious:[9]}, {malicious:[10]}, {malicious:[11]},
                            {malicious:[12]}, {malicious:[13]}, {malicious:[14]}, {malicious:[15]},
                            {malicious:[16]}, {malicious:[17]}, {malicious:[18]}, {malicious:[19]},
                            {malicious:[20]}, {malicious:[21]}, {malicious:[22]}, {malicious:[23]}
                        ],
                        borderWidth: 1,
                        backgroundColor: "#E86F69"
                    },
                    // {
                    //     label: "SUSPICIOUS", // 4633
                    //     data: [
                    //         {suspicious:[0]}, {suspicious:[1]}, {suspicious:[2]}, {suspicious:[3]},
                    //         {suspicious:[4]}, {suspicious:[5]}, {suspicious:[6]}, {suspicious:[7]},
                    //         {suspicious:[8]}, {suspicious:[9]}, {suspicious:[10]}, {suspicious:[11]},
                    //         {suspicious:[12]}, {suspicious:[13]}, {suspicious:[14]}, {suspicious:[15]},
                    //         {suspicious:[16]}, {suspicious:[17]}, {suspicious:[18]}, {suspicious:[19]},
                    //         {suspicious:[20]}, {suspicious:[21]}, {suspicious:[22]}, {malicsuspiciousious:[23]}
                    //     ],
                    //     borderWidth: 1,
                    //     backgroundColor: "#E86F65"
                    // },
                    {
                        label: "ERROR", // 10297
                        data: [
                            {error:[0]}, {error:[1]}, {error:[2]}, {error:[3]},
                            {error:[4]}, {error:[5]}, {error:[6]}, {error:[7]},
                            {error:[8]}, {error:[9]}, {error:[10]}, {error:[11]},
                            {error:[12]}, {error:[13]}, {error:[14]}, {error:[15]},
                            {error:[16]}, {error:[17]}, {error:[18]}, {error:[19]},
                            {error:[20]}, {malerroricious:[21]}, {error:[22]}, {error:[23]}
                        ],
                        borderWidth: 1,
                        backgroundColor: "#FFFC03"
                    }
                ]
            },
            options: {            
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                interaction: {
                    intersect: false,
                    mode: "index"
                },
                plugins: {
                    title: {
                        display: true,
                        text: "2022-12-09 Stress Test Data Chart",
                        font: {
                            size: 20
                        }
                    }
                }
            }
        });
    </script>
    
    
</body>
</html>